:root {
  --message-color: purple;  
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 1034px;
}

.menu-bar {
  display: flex;
  justify-content: center;
  height: 45px;
  background-color: #f8ca75;
}
.menu-bar button {
  margin-left: 20px;
  margin-right: 20px;
}

.game-table {
  background-image: url("public/images/old_west_table.jpg");
  width: 100%;
  height: 669px;
}

.funds {
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.message {
  color: var(--message-color);
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  top: 115px;
}

.pot-msg {
    font-size: 1.5rem;
    font-weight: bold;
}

.cards-wrapper {
  position: absolute;
  top: 35%;
  width: 1034px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2.5em;
}
.cards .card {
  margin-left: 2em;
  margin-right: 2em;
  width: 118px;
  height: 170px;
}

.game-controls-wrapper {
  position: absolute;
  top: 60%;
  width: 1034px;
}
.game-controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bet-options {
  display: flex;
  align-items: center;
  margin: 0px 25px 0px 25px;
}
.bet-options h3 {
  margin-right: 5px;
}
.bet-options div {
  border: 1px solid gray;
}
.bet-options label {
  margin-right: 10px;
  font-weight: bold;
}
.bet-options button {
  padding: 5px;
}